{% load static %}

<!-- Culture Category Section -->
<section id="culture-category" class="culture-category section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
    <div class="section-title-container d-flex align-items-center justify-content-between">
        <h2>{{ component_a.category_name|title }}</h2>
        <p><a href="categories.html">See All {{ component_a.category_name }}</a></p>
    </div>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row">
        <div class="col-md-9">
            
        <div class="d-lg-flex post-entry">
            <a href="{{ component_a.head_article.get_absolute_url }}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
            <img src="{{ component_a.head_article.image.url }}" alt="" class="img-fluid">
            </a>
            <div>
            <div class="post-meta"><span class="date">{{ component_a.head_article.category.name }}</span> <span class="mx-1">•</span> <span>{{ component_a.head_article.published_at|date:"M d, Y" }}</span></div>
            <h3><a href="{{ component_a.head_article.get_absolute_url }}">
                {{ component_a.head_article.title }}
            </a></h3>
            <p>
                {{ component_a.head_article.excerpt }}
            </p>
            <div class="d-flex align-items-center author">
                <div class="photo"><img src="{{ component_a.head_article.user_profile.image.url }}" alt="" class="img-fluid"></div>
                <div class="name">
                <h3 class="m-0 p-0">{{ component_a.head_article.user_profile.full_name }}</h3>
                </div>
            </div>
            </div>
        </div>

        <div class="row">
        
                
        <div class="col-lg-4">
            <div class="post-list border-bottom">
            <a href="{{ component_a.second_article.get_absolute_url }}"><img src="{{ component_a.second_article.image.url }}" alt="" class="img-fluid"></a>
            <div class="post-meta"><span class="date">{{ component_a.second_article.category.name }}</span> <span class="mx-1">•</span> <span>{{ component_a.second_article.published_at|date:"M d, Y" }}</span></div>
            <h2 class="mb-2"><a href="{{ component_a.second_article.get_absolute_url }}">{{ component_a.second_article.title }}</a></h2>
            <span class="author mb-3 d-block">{{ component_a.second_article.user_profile.full_name }}</span>
            <p class="mb-4 d-block">
                {{ component_a.second_article.excerpt }}
            </p>
            </div>
            
            
            <div class="post-list">
                <div class="post-meta"><span class="date">{{ component_a.third_article.category.name }}</span> <span class="mx-1">•</span> <span>{{ component_a.third_article.published_at|date:"M d, Y" }}</span></div>
                <h2 class="mb-2"><a href="{{ component_a.third_article.get_absolute_url }}">{{ component_a.third_article.title }}</a></h2>
                <span class="author mb-3 d-block">{{ component_a.third_article.user_profile.full_name }}</span>
            </div>
        </div>
            <div class="col-lg-8">
                <div class="post-list">
                    <a href="{{ component_a.fourth_article.get_absolute_url }}"><img src="{{ component_a.fourth_article.image.url }}" alt="" class="img-fluid"></a>
                    <div class="post-meta"><span class="date">{{ component_a.fourth_article.category.name }}</span> <span class="mx-1">•</span> <span>{{ component_a.fourth_article.published_at|date:"M d, Y" }}</span></div>
                    <h2 class="mb-2"><a href="{{ component_a.fourth_article.get_absolute_url }}">
                        {{ component_a.fourth_article.title }}
                    </a></h2>
                    <span class="author mb-3 d-block">{{ component_a.fourth_article.user_profile.full_name }}</span>
                    <p class="mb-4 d-block">
                        {{ component_a.fourth_article.excerpt }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        
        {% for article in component_a.column_articles %}
            <div class="post-list border-bottom">
                <div class="post-meta"><span class="date">{{ article.category.name }}</span> <span class="mx-1">•</span> <span>{{ article.published_at|date:"M d, Y" }}</span></div>
                <h2 class="mb-2"><a href="{{ article.get_absolute_url }}">
                    {{ article.title }}
                </a></h2>
                <span class="author mb-3 d-block">{{ article.user_profile.full_name }}</span>
            </div>
        {% endfor %}

    </div>
</div>

</div>

</section><!-- /Culture Category Section -->
