<!-- Profile Sidebar -->
<div class="col-lg-3">
    <div class="widgets-container mt-0" data-aos="fade-up">

        <div class="blog-author-widget-2 widget-item">
            <div class="d-flex flex-column align-items-center">
                <img src="{{ profile_instance.image.url }}" class="rounded-circle flex-shrink-0"
                     alt="Team member photo">
                <h4>{{ profile_instance.full_name }}</h4>
                <p class="mb-1">{{ profile_instance.job_title|upper }}</p>
                <div class="social-links">
                    <a href="{{ profile_instance.x_url }}"><i class="bi bi-twitter-x"></i></a>
                    <a href="{{ profile_instance.facebook_url }}"><i class="bi bi-facebook"></i></a>
                    <a href="{{ profile_instance.instagram_url }}"><i class="bi bi-instagram"></i></a>
                    <a href="{{ profile_instance.linkedin_url }}"><i class="bi bi-linkedin"></i></a>
                </div>
                <a href="user-profile-edit.html" class="btn btn-outline-secondary btn-sm mt-3"><i
                        class="bi bi-pencil me-1"></i>Edit Profile</a>
            </div>
        </div><!--/Author Widget -->

        <div class="widget-item">
            <h3 class="widget-title">My Menu</h3>
            <div class="list-group list-group-flush profile-menu">
                <a href="user-profile-dashboard.html" class="list-group-item list-group-item-action active"><i
                        class="bi bi-speedometer2"></i>Dashboard</a>
                <a href="user-profile-articles.html" class="list-group-item list-group-item-action"><i
                        class="bi bi-file-earmark-text"></i>My Articles</a>
                <a href="user-profile-create-article.html" class="list-group-item list-group-item-action"><i
                        class="bi bi-plus-circle"></i>Create Article</a>
                <a href="user-profile-articles-comments.html"
                   class="list-group-item list-group-item-action"><i
                        class="bi bi-chat-dots"></i>Comments</a>
                <a href="user-profile-articles-messages.html"
                   class="list-group-item list-group-item-action"><i
                        class="bi bi-envelope"></i>Messages<span
                        class="badge text-bg-danger rounded-pill ms-2">3</span></a>
                <a href="user-profile-edit.html" class="list-group-item list-group-item-action"><i
                        class="bi bi-gear"></i>Profile Settings</a>
                <a href="login.html" class="list-group-item list-group-item-action"><i
                        class="bi bi-box-arrow-right"></i>Logout</a>
            </div>
        </div>

    </div>
</div><!-- End Profile Sidebar -->
